<!DOCTYPE html>
<html>
  <head>
    <title>Door Security Welcome Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Door Security for your RPi</h2>
      <p> Here you can view logs and videos from your Raspberry pi, you can even manage your config file.</p>
      <br>
      <p>Click <a href="/login">here</a> to login.</p>
    </div>
  </body>
</html>